<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's for lunch</title>
    <meta name="keywords" content="随机，吃饭困难户">
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
    <div class="alert alert-danger alert-tip" role="alert" style="display: none;text-align:center">
    </div>
    <div class="ctn">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="logo">
                    <div class="img">
                        <svg width="100pt" height="100pt" viewBox="0 0 300 300" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <g id="#000000ff">
                                <path fill="#000000" opacity="1.00" d=" M 141.32 0.00 L 175.56 0.00 C 186.68 -0.24 197.48 4.92 204.60 13.40 C 209.86 19.85 215.10 26.37 219.46 33.48 C 221.09 36.05 222.78 38.96 225.79 40.08 C 229.46 41.42 233.36 40.06 237.09 39.75 C 245.40 38.70 254.53 40.34 260.85 46.15 C 267.99 52.59 270.64 62.75 269.95 72.09 C 269.51 79.62 264.53 86.55 257.67 89.60 C 251.06 92.48 243.98 94.09 236.88 95.24 C 234.80 95.60 232.19 96.51 231.84 98.92 C 231.55 101.96 232.38 104.96 232.90 107.93 C 235.52 121.43 237.37 135.06 239.99 148.55 C 246.39 150.38 253.31 152.08 258.25 156.84 C 262.14 160.82 262.03 166.89 261.16 172.00 C 258.16 187.55 245.32 200.86 229.69 203.89 C 228.46 212.90 228.26 222.24 224.71 230.75 C 221.08 239.98 213.85 247.44 205.39 252.45 C 192.59 260.14 177.84 263.38 163.90 268.33 C 164.95 275.58 167.00 282.68 167.60 290.00 C 168.06 293.87 165.85 297.27 162.89 299.54 C 161.02 290.17 159.81 280.68 157.91 271.32 C 157.26 271.29 155.94 271.22 155.28 271.19 C 150.58 280.75 146.18 290.45 141.45 300.00 L 140.65 300.00 C 139.54 296.82 138.23 293.45 138.99 290.04 C 140.24 282.80 147.08 278.29 148.66 271.17 C 134.60 265.25 120.85 258.58 106.46 253.49 C 96.72 250.03 87.67 243.43 83.17 233.91 C 78.61 224.73 78.59 214.22 78.77 204.21 C 73.11 202.69 67.44 200.79 62.65 197.31 C 53.92 191.27 48.49 181.29 46.69 170.97 C 45.74 165.43 46.75 159.04 51.30 155.29 C 55.08 151.68 60.47 151.35 65.26 150.14 C 67.73 149.63 68.74 147.08 69.25 144.90 C 72.86 129.72 75.06 113.84 71.91 98.36 C 62.87 99.11 53.29 99.15 45.03 94.86 C 32.64 88.69 25.95 72.06 32.39 59.41 C 35.93 51.89 43.42 47.69 49.43 42.40 C 56.95 36.26 63.77 29.34 70.94 22.83 C 81.58 13.70 94.49 7.42 108.08 4.09 C 118.94 1.30 130.18 0.64 141.32 0.00 M 115.80 13.76 C 99.12 18.50 83.08 26.41 70.35 38.34 C 67.01 41.33 64.28 45.15 60.15 47.16 C 56.37 49.01 52.20 50.17 48.87 52.84 C 43.39 56.80 40.34 63.45 39.81 70.08 C 39.28 79.07 46.34 87.71 55.12 89.35 C 62.79 90.49 69.38 84.74 76.99 85.22 C 80.14 85.25 83.29 85.48 86.45 85.53 C 87.10 91.67 86.89 97.88 85.31 103.86 C 83.40 112.31 82.92 121.28 85.88 129.55 C 102.93 122.38 120.66 116.51 139.07 114.15 C 166.97 110.20 195.78 114.46 221.63 125.53 C 221.14 114.99 220.71 104.43 219.79 93.91 C 219.60 91.86 220.10 89.22 222.32 88.49 C 225.52 87.71 228.86 87.89 232.11 87.41 C 240.36 86.35 249.19 83.18 253.85 75.84 C 259.52 67.54 257.21 54.67 248.59 49.31 C 242.05 45.66 234.39 48.29 227.99 50.92 C 223.55 52.96 216.86 51.40 215.69 46.11 C 214.37 39.82 212.61 33.46 208.80 28.17 C 201.86 17.78 189.77 12.32 177.94 9.65 C 157.35 4.70 135.87 8.09 115.80 13.76 M 136.95 126.09 C 126.56 126.87 116.59 130.06 106.50 132.43 C 105.22 132.56 104.75 133.29 105.08 134.63 C 110.92 139.97 118.19 143.26 124.98 147.17 C 130.77 150.44 136.77 153.34 142.54 156.64 C 146.80 159.11 148.42 164.29 148.05 168.98 C 147.81 172.55 148.14 177.38 144.59 179.47 C 141.70 180.42 138.02 181.11 135.41 179.14 C 138.19 178.46 141.05 177.05 142.70 174.65 C 142.51 168.69 139.46 161.23 132.95 159.98 C 122.97 157.71 112.87 155.98 102.77 154.32 C 98.51 153.53 93.58 153.88 90.06 150.95 C 87.30 148.59 87.58 144.66 87.30 141.38 C 82.45 143.88 77.72 147.25 75.42 152.38 C 70.92 161.54 72.79 172.27 76.34 181.42 C 78.89 187.64 80.51 194.74 85.88 199.26 C 90.36 203.46 97.01 203.47 101.93 206.96 C 112.10 213.44 116.05 225.51 123.70 234.30 C 130.05 241.19 139.68 244.73 148.94 244.42 C 153.28 243.64 153.06 238.41 153.59 235.05 C 150.95 233.72 148.34 232.33 145.75 230.90 C 151.01 230.38 156.28 229.90 161.54 229.46 C 162.26 233.66 161.64 238.78 165.03 241.96 C 167.32 244.20 170.81 242.89 172.97 241.15 C 179.69 235.86 185.89 229.97 192.14 224.15 C 199.26 217.24 205.01 208.44 214.31 204.18 C 222.54 200.22 227.81 192.13 230.49 183.64 C 234.36 172.61 235.57 160.60 233.43 149.07 C 232.11 141.82 228.61 134.75 222.63 130.24 C 214.83 124.27 204.54 123.21 195.02 123.50 C 175.63 123.19 156.26 124.52 136.95 126.09 M 54.00 164.17 C 48.43 180.28 61.81 199.47 78.75 200.00 C 78.70 198.28 79.29 196.33 78.27 194.79 C 77.11 192.92 74.90 192.25 72.99 191.46 C 69.03 190.04 65.32 188.03 61.68 185.95 C 65.63 184.33 69.94 186.87 74.01 187.28 C 74.51 186.15 75.02 185.02 75.52 183.89 C 71.26 181.32 66.96 178.83 62.80 176.09 C 66.81 170.43 66.26 163.36 65.72 156.82 C 61.72 159.11 57.80 161.55 54.00 164.17 M 241.35 157.13 C 241.00 160.21 240.23 163.44 241.34 166.47 C 242.64 170.31 244.57 173.91 246.24 177.61 C 242.65 178.21 238.47 178.07 235.63 180.71 C 233.64 182.42 233.44 185.19 233.14 187.61 C 237.30 186.75 241.41 185.63 245.60 184.87 C 242.81 190.91 234.73 189.20 230.58 193.55 C 228.70 195.53 229.05 198.39 228.99 200.89 C 232.83 200.17 236.65 199.10 240.02 197.07 C 251.59 190.70 258.48 175.52 253.11 162.96 C 251.22 158.23 245.68 157.80 241.35 157.13 Z"
                                />
                                <path fill="#000000" opacity="1.00" d=" M 187.62 68.55 C 191.77 66.63 196.29 65.84 200.76 65.09 C 201.28 66.06 201.80 67.03 202.32 68.00 C 196.12 71.67 190.26 76.09 183.37 78.46 C 165.85 84.55 146.61 86.40 128.41 82.44 C 124.84 80.39 121.17 78.17 118.53 74.96 C 117.98 72.06 120.02 68.89 123.06 68.64 C 129.08 68.08 135.19 69.02 140.83 71.20 C 156.04 76.28 173.00 74.94 187.62 68.55 Z"
                                />
                                <path fill="#000000" opacity="1.00" d=" M 208.02 133.90 C 210.82 132.60 214.32 132.18 216.98 134.05 C 221.21 137.13 223.05 142.83 222.40 147.89 C 221.57 151.68 217.50 153.12 214.12 153.73 C 201.65 155.83 188.99 156.80 176.60 159.41 C 171.35 160.56 166.25 164.44 165.50 170.04 C 164.41 174.02 167.90 177.03 169.04 180.55 C 166.90 179.89 164.33 179.96 162.56 178.44 C 160.60 174.27 159.17 168.97 161.64 164.70 C 164.34 159.64 167.93 154.84 172.88 151.80 C 184.14 144.99 195.98 139.19 208.02 133.90 Z"
                                />
                                <path fill="#000000" opacity="1.00" d=" M 177.67 170.96 C 180.51 166.13 185.03 161.78 190.89 161.36 C 198.62 160.86 206.06 163.63 213.30 165.97 C 212.55 166.97 211.84 168.03 210.93 168.91 C 208.00 169.69 205.79 166.86 202.98 166.85 C 199.63 166.90 196.28 166.96 192.95 167.21 C 187.67 167.59 182.75 169.67 177.67 170.96 Z"
                                />
                                <path fill="#000000" opacity="1.00" d=" M 94.60 164.53 C 102.92 165.96 110.80 162.05 119.06 162.50 C 124.57 162.71 129.09 166.50 132.11 170.84 C 124.05 169.69 116.37 165.93 108.10 166.54 C 104.29 166.74 100.89 168.59 97.68 170.47 C 96.62 168.50 95.59 166.52 94.60 164.53 Z"
                                />
                                <path fill="#000000" opacity="1.00" d=" M 126.15 189.20 C 129.43 186.71 130.52 182.31 134.12 180.17 C 134.13 180.82 134.15 182.12 134.16 182.77 C 133.44 184.26 132.74 185.76 132.03 187.26 C 139.02 187.39 145.99 186.83 152.98 187.00 C 163.37 187.22 174.36 187.11 183.73 192.32 C 189.04 195.24 195.66 196.17 201.11 193.04 C 200.08 197.95 199.43 203.75 195.04 206.92 C 189.63 210.53 182.81 210.47 176.60 211.37 C 175.14 214.45 174.11 218.20 170.97 220.02 C 167.78 221.53 164.15 221.56 160.72 221.99 C 165.29 218.09 170.16 214.55 174.52 210.40 C 167.41 207.18 159.94 203.88 151.96 204.28 C 146.31 204.55 141.04 206.89 136.28 209.79 C 140.23 214.21 144.32 218.51 148.14 223.05 C 144.70 221.21 140.82 219.78 138.44 216.50 C 135.80 212.93 131.62 210.29 127.02 210.80 C 122.08 211.40 116.59 211.81 112.35 208.67 C 107.07 205.18 105.13 198.68 104.91 192.65 C 111.97 195.58 120.47 194.41 126.15 189.20 Z"
                                />
                            </g>
                        </svg>
                    </div>
                    <h2>中午吃啥</h2>
                    <p class="logo-en">What's for lunch?</p>
                </div>

                <div class="input-group mb-3">
                    <input type="number" class="form-control" placeholder="用餐人数" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary no-matter" type="button">随便一下</button>
                    </div>
                </div>
                <div class="menu-result" style="display: none">

                    <ul class="list-group">

                    </ul>
                    <div class="alert alert-warning" role="alert">
                        总价：
                        <span class="price"></span>元
                        <br> 折扣：
                        <span class="discount"></span>折
                        <span class="note">（感谢
                            <span class="blue">猫烹熊VIP-莫胜利</span> 提供折扣福利）</span>
                        <br> 实际付款： 约
                        <span class="final"></span>元
                        <br> 人均实付款： 约
                        <span class="average"></span>元
                        <br>
                        <span class="note">(因为
                            <span class="blue">莫胜利</span>，这次每人节省了约
                            <span class="save"></span>元，再次向他表示感谢！)</span>
                        <br>
                        <span class="note">(感谢
                            <span class="blue">阿凯</span> 提供随机算法！)
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mask" style="display: none"></div>
    <div id="load" style="display: none">
        <div>G</div>
        <div>N</div>
        <div>I</div>
        <div>K</div>
        <div>O</div>
        <div>O</div>
        <div>C</div>
    </div>
    <footer>Powered By FE Of Champzee</footer>
</body>
<script src="https://cdn.bootcss.com/jquery/1.12.1/jquery.js"></script>
<script src="/javascripts/fuckeat.js?v1.0"></script>

</html>